<div class="d-flex justify-content-center" style="margin-top:75px">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Giris Sayfasi</h1>
            </div>
            <div class="card-body">
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" autocomplete="off">
                    <div class="form-group">
                        <label for="email" >Mail Adresi</label>
                        <input type="email" class="form-control" ngModel name="email" id="email" required email minlength="3" #email [appValid]="email.validity.valid">
                        <div class="invalid-feedback">
                            Gecerli bir Email adresi girin !
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <label for="password">Sifre</label>
                        <input type="password" class="form-control" ngModel name="password" id="password" #password required [appValid]="password.validity.valid">
                        <div class="invalid-feedback">
                            Sifre alani bos olamaz!
                        </div>

                    </div>
                    <div class="form-group mt-2">
                        <button [disabled]="!loginForm.valid" class="btn btn-outline-primary w-100">Giris yap </button>
                        <a routerLink="/register" style="float:right">Kayit ol</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>