<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">E-Ticaret</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/orders">Siparislerim</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Urunler
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/products">Urunler</a></li>
              <li><a class="dropdown-item" routerLink="/categories">Kategoriler</a></li>

            </ul>
          </li>
        </ul>
        <button type="button" class="btn btn-outline-success position-relative">
            <i class="fa fa-cart-shopping"></i>
            <span class="position-absolute top-100 start-0 translate-middle badge rounded-pill bg-danger">
              0
            </span>
          </button>

          <button class="btn btn-outline-danger mx-1" type="button">Cikis Yap</button>
      </div>
    </div>
  </nav>